<div id="new-feed-form" title="Add new feed" style="display:none;">
	<p class="validateTips">All form fields are required.</p>

	<form>
		<fieldset>
			<label for="id">ID</label>
			<input type="text" name="id" id="id" class="text ui-widget-content ui-corner-all" value="{{id}}"/>
			<label for="site_title">Site title</label>
			<input type="text" name="site_title" id="site_title" class="text ui-widget-content ui-corner-all" value="{{title}}" />
			<label for="feed_url">Feed URL</label>
			<input type="text" name="feed_url" id="feed_url" class="text ui-widget-content ui-corner-all" value="{{feedUrl}}" />
			<label for="site_url">Site URL</label>
			<input type="text" name="site_url" id="site_url" class="text ui-widget-content ui-corner-all" value="{{url}}" />
			<label for="entries">Number of entries</label>
			<input type="number" name="entries" id="entries" class="text ui-widget-content ui-corner-all"  value="{{entries}}"/>
		</fieldset>
	</form>
</div>